<section class="lpp" id="lpp">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md 12 col-sm 12">
        <h3>Welcome to</h3>
          <h2>everything.qwertyful</h2>
      </div>
    <div class="row">
      <div class="col-2 col-md-2 col-sm-2">
      </div>
      <div class="col-4 col-md-4 col-sm-4">
        <%= image_tag("TP.jpg", class: "img-fluid") %>
      </div>
      <div class="col-4 col-md-4 col-sm-4">
        <hr>
        <h5>The photographs are all captured virtually in games. The captures are raw with no modification to emphasis the natural immersion of the game displaying portraits, landscapes, and environtments.</h5><br><h6>Your photographer - Wendy </h6>
        <hr>
      </div>
      <div class="col-2 col-md-2 col-sm-2">
      </div>
    </div>
  </div>
</section>
