<section class="contact" id="contact">
  <div class="container">
    <div class="row">
      <div class="panel-body">
        <p>Thank you. We have received your message and will respond as soon as possible.</p>
        <%= link_to 'Back to homepage', simple_pages_index_path %>
      </div><!-- / panel-body -->
    </div>
  </div>
</section>
