<section class="userinfo" id="userinfo">
  <div class="card border-dark">
    <div class="card-header border-dark">
      Editing User Display Name
    </div>
        <div class="card-body bg-light">
          <%= render 'form', user: @user %>
        </div>
        <div class="card-footer border-dark">
          <%= link_to 'Show', @user, class:'btn btn-dark'  %>
          <%= link_to 'Back', user_path(params[:id]), class:'btn btn-dark'  %>
        </div>
  </div>
</section>
