<section class="order" id="order">
  <div class="container">
    <div class="row">
      <% @orders.each do |order| %>
        <div class="col-4 col-md-4 col-sm-4">
          <div class="card bg-light mb-3">
            Order ID: <%= order.id %>
            <br>
            Product Name: <%= link_to order.product.name, order %>
            <%= order.product.description %>
            <br>
            Total: <strong>$<%= order.product.price %></strong>
          </div><!-- /card -->
        </div><!-- /col -->
      <% end %>
    </div>
  </div>
</section>
