<section class="content-thank-you">

  <div class="jumbotron>
  <div class="panel panel-default">
    <div class="panel-body">
      <p>Thank you for your order!</p>
    </div>
    <p><%= link_to 'Back to products', products_path, class: "btn btn-dark" %></p>
  </div><!-- / panel -->

</section>
